.hide {
    display: none;
}

.highlighted {
    background: blue;
    color: white;
}

.invoiceView {
    background: lightblue;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
}

form#new_invoice {
    z-index: 2;
    background: rgb(109, 179, 204);
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
}
