@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-overlay {
    position: absolute;
    background: #fff;
    left: 0;
    width: 50%;
    max-width: 700px;
    top: 0;
    bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    padding: 4rem 2.5rem;
    z-index: 2;
    overflow-y: scroll;
}

.overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    z-index: 1;
}
